

 article, aside, details, figcaption, figure, footer, header, hgroup, 
menu, nav, section {
	display: block;
}


a {
    font-family: Arial, Verdana, sans-serif;
    line-height: 1.4em;
    color: #ee2211;
    
}

html, body {
    width: 100%;
    height: 100%;
    min-width: 100%;
    max-width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;  
    border: solid 2px red;
    display: block;
}



#SectionTop  {
     
    border: solid 4px blue;
     float: left;
}


#SectionLeft  {
     
    border: solid 4px green;
    float: left;
}


#SectionBottom  {
     
    border: solid 4px black;
     float: left;
}

